.customDiv{
  margin: 10px;
  border: 2px solid gray;
  width: 350px;
  height: 200px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}
select{
  font-size: larger;
  width: 200px;
}
